@model Shop.Models.Profile.AddressViewModel
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Change Address</title>
    <link type="text/css" rel="stylesheet" href="/css/Edit/edit-address.css">
</head>

<body>

    <div class="edit-address-container">
        <h2>Edit Address</h2>
        <form method="post">
            <div class="form-group">
                <label asp-for="City"></label>
                <input asp-for="City" class="form-control" placeholder="City...">
                <span asp-validation-for="City" class="small text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Street1">Street 1</label>
                <input asp-for="Street1" class="form-control" placeholder="Street1...">
                <span asp-validation-for="Street1" class="small text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Street2">Street 2</label>
                <input asp-for="Street2" class="form-control" placeholder="(Optional)">
                <span asp-validation-for="Street2" class="small text-danger"></span>
            </div>
             <div class="form-group">
                <label asp-for="StreetNumber">Street Number</label>
                <input asp-for="StreetNumber" class="form-control" placeholder="Street Number...">
                <span asp-validation-for="StreetNumber" class="small text-danger"></span>
             </div> 
            <div class="form-group">
                <label asp-for="PostCode">Post Code</label>
                <input asp-for="PostCode" class="form-control" placeholder="Street Number...">
                <span asp-validation-for="PostCode" class="small text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="SelectedCountryId">Country</label>
                <select asp-for="SelectedCountryId" class="form-control">
                    @foreach (var type in Model.Countries)
                    {
                        <option value="@type.Id">@type.Name</option>
                    }
                </select>
                <span asp-validation-for="SelectedCountryId" class="small text-danger"></span>
            </div>

            <button type="submit" class="edit-btn">Save Changes</button>
        </form>
    </div>

</body>

</html>
