<!DOCTYPE html>
    <html lang="en">

    <head>
        <link type="text/css" rel="stylesheet" href="/css/Edit/profile.css">
    </head>

    <body>

    <div class="profile-container">
        <div class="name">Name: @Model.Firstname @Model.Surname</div>
        
        <div class="contact-info">
            <h4>Contact Information</h4>
            <p>Email: @Model.Email</p>
            <p>Phone: @Model.Phone</p>
        </div>

        <!-- Edit Button -->
        <a href="profile/edit" class="edit-btn">Edit Profile</a>
        <!-- <a href="https://localhost:7105/profile/address" class="edit-btn">Address</a> -->
    </div>

    </body>

    </html>