@{
    ViewData["Title"] = "Admin Dashboard";
}

<head>
    <link type="text/css" rel="stylesheet" href="/css/AdminPanel/dashboard.css">
</head>

<div  class="container">
  
    <h2 class="title">Welcome to Admin Panel</h2>

    <div align="center" class="mt-4">
        <a href="/AdminPanel/addproduct" class="edit-btn">Add new Product</a>
        <a href="/AdminPanel/users" class="edit-btn">Manage Users</a>
    </div>
    
</div>