@{
    ViewData["Title"] = "Admin Dashboard";
}

<div align ="center" class="container mt-5">
    <h2>Welcome to Admin Panel</h2>

    <div align="center" class="mt-4">
        <a href="/AdminPanel/addproduct" class="btn btn-primary">Add new Product</a>
        <a href="/AdminPanel/users" class="btn btn-secondary ml-2">Manage Users</a>
    </div>

    <!-- Placeholder sections for Posts and Users -->
    
</div>