<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Admin - Manage Users</title>
    <link type="text/css" rel="stylesheet" href="/css/AdminPanel/users.css">
</head>

<body>
<div class="container">
   
        <h2 class="title">All Users</h2>
        <table>
            <thead>
            <tr>
                <th>Name</th>
                <th>Email</th>
                <th>Role</th>
                <th>Actions</th>
            </tr>
            </thead>
            <tbody>
            @foreach (var user in Model)
            {
                <tr>
                    <td>@user.UserName</td>
                    <td>@user.UserEmail</td>
                    <td>@user.Role</td>
                    <td>
                        <a class="edit-btn" href="https://localhost:7105/adminpanel/GrantAdmin?userId=@user.UserId">Grant Admin</a>
                        <a class="edit-btn" href="https://localhost:7105/adminpanel/removeuser?deleteButton=@user.UserId">Delete</a>
                    </td>
                </tr>
            }
            </tbody>
        </table>
    </div>
</body>

</html>
