
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />

    <title>Change</title>
    <link type="text/css" rel="stylesheet" href="/css/Details/detail.css">
</head>
            <div class="container">
                <div class="image-holder">
                    <img class="image" src="https://images.penguinrandomhouse.com/cover/9780399181153" />
                </div>
                <div class="information">
                    <h1 class="">@Model.Model</h1>
                    <div class=""></div>
                    <span>Size: @Model.Size</span>
                    <div class=""></div>
                    <span>Color: @Model.Color</span>
                    <div class="">
                        <span>$@Model.Price</span>
                    </div>
                    <p class="description">@Model.Description</p>
                    <div class="action">
                        <div>
                            <input class="" id="inputQuantity" type="num" value="1" style="max-width: 3rem" />

                            <a href="https://localhost:7105/Details/Add/?productId=@Model.Id" class="add-button">
                                Add to cart
                            </a>
                        </div>

                        @if (User.IsInRole("Admin"))
                        {
                            <div class="admin-buttons">
                                <a href="https://localhost:7105/adminpanel/remove?productId=@Model.Id" class="remove-button">
                                    Remove
                                </a>
                                <a href="https://localhost:7105/adminpanel/editproduct?productId=@Model.Id" class="edit-button">
                                    Edit
                                </a>
                            </div>
                        }

                    </div>
                </div>
            </div>
</html>