

<h2 class="text-center">All Products</h2>
<hr />

<div class="text-center row">
    <section class="py-5">
        <div class="container px-4 px-lg-5 mt-5">
            <div class="row gx-4 gx-lg-5 row-cols-2 row-cols-md-3 row-cols-xl-4 justify-content-center">
    @foreach (var product in Model)
    {
        
       
        
            <div class="col mb-5">
                <div class="card h-100">
                            <img class="card-img-top" src="@product.ImageUrl" alt="" />
                    <div class="card-body p-4">
                        <div class="text-center">
                                    <h5 class="fw-bolder">@product.Model</h5>
                                    @product.Price
                        </div>
                    </div>
                    <div class="card-footer p-4 pt-0 border-top-0 bg-transparent">
                        <a class="btn btn-outline-dark mt-auto" asp-controller="Details" asp-action="Details" asp-route-id="@product.Id" class="btn btn-warning mb-2 w-100 p-3 fw-bold">View Details</a>
                    </div>
                </div>
            </div>
            }
            </div>
        </div>
    </section>
</div>